.nav-link {
    color: white;
}

label {
    text-align: start;
}

.card {
    width: 70%;
    margin: 20px;
}

.centered-row {
    text-align: center;
    width: 10px;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

footer {
    flex-grow: 1;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.border-primary {
    margin-top: 20px;
    width: 70%;
    align-self: center;
}